<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.kent.fe44.edanews" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ArticlesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".controller.ArticleListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.ArticleDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_article_details"
            android:parentActivityName=".controller.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.ArticleListActivity" />
        </activity>
        <activity
            android:name=".controller.ScrollingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".controller.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.ArticleListActivity" />
        </activity>
        <activity
            android:name=".controller.PeekActivity"
            android:label="@string/title_none"
            android:parentActivityName=".controller.ArticleListActivity"
            android:theme="@style/Theme.Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.ArticleListActivity" />
        </activity>
    </application>

</manifest>
